# Data Structures - List, Dictionary, Set, Frozenset

## List (Creation, Modification and Access):

### 1. **list creation**

- A. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [1]:
age_list = [24,25,26,27,28]
age_list

[24, 25, 26, 27, 28]

- B. Create a list named name_list with five string elements.

In [3]:
name_list = ['A','B','C','D','E']
name_list

['A', 'B', 'C', 'D', 'E']

### 2. List Operations / Modifications:

- A. Append the string "Yazhini" to name_list.

In [41]:
name_list.append("Yazhini")
name_list

['A', 'B', 'C', 'D', 'E', 'Yazhini']

- B. Insert the element 30 at index 2 in age_list.

In [36]:
age_list.insert(2,30)
age_list

[24, 25, 30, 26, 27, 28]

- C. Remove the string "Yazhini" from name_list.

In [43]:
name_list.remove("Yazhini")
name_list

['A', 'B', 'C', 'D', 'E']

- D. Pop the last element from age_list.

In [45]:
age_list.pop(-1)
age_list

[24, 25, 30, 26, 27]

- E. Extend the age_list with additional ages [29, 30, 26].

In [51]:
age_list.extend([29,30,26])
age_lst

- F. Sort age_list in descending order.

In [54]:
age_list.sort(reverse = True)
age_list

[30, 30, 29, 27, 26, 26, 25, 24]

- G. Find Max age, Min age and sum of all ages from age_list.

In [72]:
max_age = max(age_list)
min_age = min(age_list)
total_age = sum(age_list)
print(('max=',max_age),('min =',min_age),('total=',total_age))

('max=', 30) ('min =', 24) ('total=', 217)

- H. Make a copy of age_list and store as age_list_copy

In [82]:
age_list_copy = age_list.copy()
age_list_copy

[30, 30, 29, 27, 26, 26, 25, 24]

- I. Clear all elements from age_list_copy.

In [85]:
age_list_copy.clear()
age_list_copy

[]

### 3. Accessing List Elements:

- A. Print the first element of name_list.

In [86]:
name_list[0]

'A'

- B. Print the last element of name_list.

In [88]:
name_list[-1]

'E'

- C. Print the elements from index 2 to index 4 in name_list.

In [90]:
name_list[2:4]

['C', 'D']

- D. Print the elements of name_list in reverse order.

In [91]:
name_list[::-1]

['E', 'D', 'C', 'B', 'A']

- E. Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.

In [93]:
list_dup =  [1,2,1,1,3,1,2,5,9,1] 
list_dup.count(1)

5

- F. Print length of list_dup.

In [94]:
len(list_dup)

10

# Dictionary (Creation, Modification and Access):

### 1. Dictionary Creation:

- A. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

In [2]:
student_marks = {
    "Guru":91,
    "Shith":95,
    "Kavi":20,
    "Dhivan":35,
    "Karupu":13
}
student_marks

{'Guru': 91, 'Shith': 95, 'Kavi': 20, 'Dhivan': 35, 'Karupu': 13}

- B. Access and print the mark of a specific student, of your choice.

In [3]:
student_marks["Shith"]

95

### 2. Dictionary Modifications & Access:

- A. Add a new student "Janani" with a mark of 80 to the student_marks dictionary

In [30]:
student_marks.update({"Janani":80})
student_marks

{'Guru': 91, 'Shith': 95, 'Kavi': 20, 'Dhivan': 35, 'Karupu': 13, 'Janani': 80}

- B. Update the mark of any one older student to 82.

In [31]:
student_marks["Kavi"]=82
student_marks

{'Guru': 91, 'Shith': 95, 'Kavi': 82, 'Dhivan': 35, 'Karupu': 13, 'Janani': 80}

- C. Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.

In [39]:
print(student_marks.keys())
print(student_marks.values())
student_marks.items()

dict_keys(['Guru', 'Shith', 'Kavi', 'Dhivan', 'Karupu', 'Janani'])
dict_values([91, 95, 82, 35, 13, 80])

dict_items([('Guru', 91), ('Shith', 95), ('Kavi', 82), ('Dhivan', 35), ('Karupu', 13), ('Janani', 80)])

# Sets & Frozensets:

### 1. Sets:

- Create a set called my_set with following values:   
  **['a','e','i','o','u','a','a','i']**
Analyse the output and provide explanation for the same.

In [49]:
my_set = {'a','e','i','o','u','a','a','i'}
print(type(my_set))
my_set

<class 'set'>

{'a', 'e', 'i', 'o', 'u'}

- B. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.

In [54]:
# my_set[4]='s'
# Cause of set did not consider any Index value, that means set didn't maintain any order of elements.
# it's unordered collection of unique elements.

- C. Create two sets:         
	                   **set1 with values: {1, 3, 5, 7, 9}**          
	                   **set2 with values: {2, 3, 5, 8, 10}**

In [57]:
set1={1,3,5,7,9}
set2={2,3,5,8,10}
print(set1)
set2

{1, 3, 5, 7, 9}

{2, 3, 5, 8, 10}

- D. Compute the union of set1 and set2, and print the result.

In [59]:
union_set1 = set1|set2
print(union_set)
unionset2 = set1.union(set2)
unionset2

{1, 2, 3, 5, 7, 8, 9, 10}

{1, 2, 3, 5, 7, 8, 9, 10}

- E. Perform an intersection operation between set1 and set2, and print the result.

In [60]:
intersection_1= set1&set2
print(intersection_1)
intersection_2 = set1.intersection(set2)
intersection_2

{3, 5}

{3, 5}

### 2. Frozensets:

- A. Create a frozenset named immutable_set containing the integers: 1, 2, 3, 4, 5. Print the frozenset.

In [12]:
immutable_set = frozenset({1,2,3,4,5})
immutable_set

frozenset({1, 2, 3, 4, 5})

- B. Try to add an element (e.g., 6) to the immutable_set frozenset. Observe and describe any exceptions that occur.

In [17]:
# immutable_set.update(6)
# immutable_set.add(6)
# The frozen_set actually a set but it's immutable. we can't change the elements."frozenset' object has no attribute 'add"

In [13]:
Add_frozenset= immutable_set | frozenset({6})
Add_frozenset

frozenset({1, 2, 3, 4, 5, 6})