# String

## 1. concatination

- 1 Quest

In [2]:
string1 = "Hello!"

In [3]:
string2 = input("Enter Your Name: ")

Enter Your Name:  Guru

In [4]:
print(string1+" "+string2)

Hello! Guru

- 2 Quest

In [5]:
string3 = " welcome to Python programming"

In [6]:
print(string1+' '+string2+string3)

Hello! Guru welcome to Python programming

#### Another Way

In [7]:
name = string1+" "+string2

In [8]:
print(name)

Hello! Guru

In [10]:
Greeting = name+string3

In [11]:
print(Greeting)

Hello! Guru welcome to Python programming

## 2. String Slicing and Indexing

- A. Print the first character of the string.

In [12]:
print(Greeting[0])

H

- B.Print the last character of the string.

In [13]:
print(Greeting[-1])

g

- C.Print the first 5 characters of the string.

In [14]:
print(Greeting[:6])

Hello!

- D.Print the last 11 characters of the string.

In [15]:
print(Greeting[-11:])

programming

- E.Print the string in reverse.

In [39]:
print(Greeting[::-1])

gnimmargorp nohtyP ot emoclew uruG !olleH

- F.Use slicing and print the word “Python” from the existing string.

In [17]:
print(Greeting.find("Python"))

23

In [18]:
print(Greeting[23:29])

Python

## 3. String Methods:

In [40]:
strM = "Python beginner tutorial"

- A. Convert the sentence to uppercase.

In [20]:
print(strM.upper())

PYTHON BEGINNER TUTORIAL

- B. Convert the sentence to lowercase.

In [21]:
strM.lower()

'python beginner tutorial'

- C. Use Capitalize and return the sentence to the original input form.

In [32]:
strM.capitalize()

'Python beginner tutorial'

- D. Count the total number of occurrences of character ‘t’  in the string.

In [31]:
strM.count("t")

3

- E. Replace all occurrences of “Python” with “Machine Learning”  in the input string strM = “Python beginner tutorial”

In [27]:
print(strM.replace("Python","Machine Learning"))

Machine Learning beginner tutorial

# Tuples (Creation, Modification and Access) :

In [37]:
tuple1 = (10,20,30) 
tuple1

(10, 20, 30)

In [38]:
tuple2 = (40,50,60)
tuple2

(40, 50, 60)

- A. Concatenate the two tuples and store it in “t_combine”

In [43]:
t_combine = tuple1 + tuple2
t_combine

(10, 20, 30, 40, 50, 60)

- B. Repeat the elements of “t_combine” 3 times

In [47]:
(t_combine)*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

- C. Access the 3rd element from “t_combine”

In [50]:
t_combine[2]

30

- D. Access the first three elements from “t_combine”

In [57]:
t_combine[:3]

(10, 20, 30)

- E. Access the last three elements from “t_combine”

In [58]:
t_combine[-3:]

(40, 50, 60)